<div class="auth">
    <h6 class="auth__sign_in">Reset password</h6>
    <form class="auth__form" [formGroup]="passwordForm">
      <app-input [type]="inputType.EMAIL" [label]="'Enter your email'" class="auth__form__field" [formControl]="emailControl" />
      <div class="auth__form__action">
        <a class="auth__form__action-reset" routerLink="/auth/sign-up">Don't have an account?</a>
        <a class="auth__form__action-reset" routerLink="/auth/sign-in">Already have an account?</a>
      </div>
      <button class="auth__form-btn" [class.active]="!passwordForm.invalid" [disabled]="passwordForm.invalid"
        (click)="resetPassword()">Reset password</button>
    </form>
</div>