@import '../../../../assets/variables/colors.scss';

.auth {
    max-width: 500px;
    padding: 30px;
    border-radius: 5px;
    width: 50vw;
    box-shadow: 0px 0px 12px -4px $box_shadow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}